# Dependencies
node_modules/
.pnp
.pnp.js

# Environment variables
.env
.env.local

# Expo & Mobile
.expo/
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
